<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jedzia.BackBock.Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Jedzia.BackBock.Application.Properties.Settings>
            <setting name="StartupData" serializeAs="String">
                <value>D:\E\Projects\CSharp\BackBock\Jedzia.BackBock.Model\Data\BackupData01.xml</value>
            </setting>
        </Jedzia.BackBock.Application.Properties.Settings>
    </applicationSettings>
</configuration>